/**
* $module：Gobal
* $description:
* 重置全局的基础样式
*/
.ui-hidden{
    display: none!important
}

// 无视元素节点 
.ui-contents {
    display: contents;
}

// 搜索结果为空时展示
.empty-data-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    .empty-data-icon {
        height: 10.4rem;
        width: 12rem;
        margin-top: 3rem;
        color: $empty-text-color;
        opacity: 0.4;
    }

    .empty-data-text {
        color: $empty-text-color;
        font-size: .6rem;
        font-family: 'microsoft YaHei';
        font-weight: normal;
    }
}


// 通用样式 
.ui-component-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}