// @module：window
//
// @description:
// PC端显示效果的重置
// 备注：移动端模式的阀值为 breakpoint-lg: 992px
@media (min-width: $width) {
    .hidden-lg {
        display: none !important;
    }
}


// @module：mobile
//
// @description:
// 移动端显示效果的重置
// 备注：移动端模式的阀值为 breakpoint-lg: 992px
@media (max-width: $width) {
    .navbar {
        .navbar-brand {
            margin: 0 auto;
        }
    }
}

// border
// 重新定义 1px 的宽度
.border,
.border-0,
[class^=border-top],
[class^=border-right],
[class^=border-bottom],
[class^=border-left] {
    border-width: 0.08rem !important;
}




